services:
  {{ docker_app }}:
    image: {{ docker_image }}
    container_name: {{ docker_app }}
    restart: unless-stopped
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
    networks:
      - {{ docker_app }}
    ports:
      - "9100:9100"
    mem_limit: {{ docker_mem_limit }}
    logging:
      driver: "json-file"
      options:
        max-size: "{{ docker_log_size }}"
        max-file: "{{ docker_log_file }}"

networks:
  {{ docker_app }}:
    driver: bridge
