services:
  {{ docker_app }}:
    container_name: {{ docker_app }}
    image: {{ docker_image }}
    restart: always
    mem_limit: {{ docker_mem_limit }}
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    command: "--store_container_labels=false"
    devices:
      - /dev/kmsg:/dev/kmsg
    ports:
      - '9010:8080'
    privileged: true
    logging:
      driver: "json-file"
      options:
        max-size: {{ docker_log_size }}
        max-file: {{ docker_log_file }}

networks:
  {{ docker_app }}:
    driver: bridge
